body{
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 600px) {
    #content{
        width: 100%;
        background: url('Back2.jpg');
        background-size: cover;
        height: 1000px;
    }
    
}
#content #section-flash{
    width: auto;
}

.section{
    display: flex;
}

.section-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    display: flex;
    width: auto;
    height: 70px;
    padding: 10px;
    margin-left: 200px;
    margin-right: 100px;
}

/* CSS PENTRU BUTONUL DE HOME SI MENIU */
.icon{
    width: 400px;
    float: left;
    height: 50px;
}

.logo{
    color: white;
    font-size: 60px;
    font-family: Arial;
    text-align: left;
    font-weight: bold;
}

.logo a{
    text-decoration: none;
    color: white;
}

.logo a:hover{
    color: orange;
}

.menu{
    width: 400px;
    height: 70px;
    margin-left: 300px;
    padding-left: 100px;
}

ul{
    float: right;
    display: flex;
    justify-content: right;
}

ul li{
    list-style: none;
    font-size: 20px;
    margin: 15px;
    padding: 10px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
}

ul li a:hover{
    color: orange;
}


/* CSS PENTRU TOP CARACTERE */

#content #section1{
    width: 500px;
    height: 550px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%) ;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    border-radius: 10px;
    padding: 25px;
}
.logo2{
    color: white;
    font-size: 30px;
    font-family: Arial;
    text-align: center;
    margin: 10px;
    padding: 5px;
}

table{
    width: 100%;
    height: max-content;
    text-align: center;
}

tbody{
    width: 90%;
    display: inline-block;
    padding: 15px;
    text-align: center;
}

tr:nth-child(1n){
    background-color: white;
}

tr:hover {
    background-color: rgb(106, 145, 141);
}

th {
    width: 400px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: orange;
    font-family: Arial;
    color: white;
    font-weight: bold;
  }

td{
    text-align: center;
    font-size: 15px;
    font-family: Arial;
    color: black;
    padding: 8px;
    font-weight: bold;
}  

td a{
    font-family: Arial;
    font-size: 18px;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}


td a:hover{
    color: orange;
}

#content #section2{
    height: 550px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%) ;
    border-radius: 10px;
    padding: 25px;
    width: 30%;
    float: right;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

#section2 .par{
    color: white;
    margin: 25px;
    padding: 10px;
    font-family: Arial;
    /* line-height: 20px; */
}

#content #section3{
    width: 280px;
    height: 550px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%) ;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
}

#content #section4{
    width: 400px;
    height: 700px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%) ;
    border-radius: 10px;
    padding: 25px;
    margin: auto;
    text-align: center;
}

#content #section5{
    width: 300px;
    height: 700px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%) ;
    border-radius: 10px;
    padding: 25px;
    margin: 30px;
    text-align: center;
}

.sel{
    width: 150px;
    height: 35px;
    color: black;
    font-family: Arial;
    font-size: 15px;
    margin: 15px;
    padding: 5px;
    text-align: center;
}

#content #section6{
    width: 800px;
    height: 700px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%) ;
    margin: 30px;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
}

#content #section7{
    width: 700px;
    height: 550px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%) ;
    margin: 30px;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
}

.flash-banner{
    width: 800px;
    height: auto;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%) ;
    margin: auto;
    border-radius: 10px;
}
.flash-banner h1{
    color: white;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    margin-top: 15px;
}

.content{
    padding-top: 60px;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
    color: white;
}



.btn{
    width: 240px;
    height: 50px;
    background: orange;
    border: 2px solid orange;
    margin: 10px;
    padding: 10px;
    color: white;
    font-size: 18px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.btn:hover{
    background: white;
    color: orange;
    border: white;
}

.btn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.btn:focus{
    outline: none;
}


.form h2{
    color: white;
    font-family: Arial;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
}

.form h3{
    color: white;
    font-family: Arial;
    font-size: 28px;
    margin: 20px;
    padding: 10px;
}

.form .cont{
    padding-top: 50px;
    color: white;
    font-family: Arial;
    font-size: 20px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-style: solid;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 10px;
    padding: 5px;
    font-family: Arial;
    text-align: left;
}

.form input:focus{
   outline: none;
}

::placeholder{
    color: white;
    font-family: Arial;
}

.form .link{
    color: white;
    font-family: Arial;
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
}

.form a{
    font-family: Arial;
    font-size: 21px;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.form a:hover{
    color: orange;
}
.invalid-feedback{display:none;width:100%;margin-top:.25rem;font-size:80%;color:#dc3545}

.form-control{display:block;width:100%;height:calc(1.5em + .75rem + 2px);padding:.375rem .75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out}

.form-control-lg{height:calc(1.5em + 1rem + 2px);padding:.5rem 1rem;font-size:1.25rem;line-height:1.5;border-radius:.3rem}

/* PENTRU CONTURI.HTML*/
.ch5{
    width: 900px;
    height: 630px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%) ;
    position: center;
    margin-left: 100px;
    border-radius: 10px;
    padding: 25px;
}

/* PENTRU REGISTER.HTML*/
.form2{
    width: 410px;
    height: 550px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%) ;
    position: absolute;
    top: -20px;
    margin-left: 750px;
    margin-top: 200px;
    border-radius: 10px;
    padding: 25px;
}
.form2 input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-style: solid;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: Arial;
    text-align: left;
}

.form2 h2{
    margin-bottom: 10px;
    font-size: 30px;
}

.form2 input:focus{
   outline: none;
}

::placeholder{
    color: white;
    font-family: Arial;
}

.form2 .link{
    font-family: Arial;
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
}

.form2 .link a{
    text-decoration: none;
    color: orange;
}


/* PAGINATION */
.pagination{
    width: 90%;
    display: inline-block;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.pagination a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: background-color .3s;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  font-family: Arial;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
    color: white;
  }