<!DOCTYPE html>
<html lang="en">
<head>
    <title>JocVideoBD</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo"><a href="/homeAdmin">JocOnline</a></h2>
            </div>
<!--            <div>-->
<!--                <ul class="menu">-->
<!--                    <li><a href="/conturi">CONTURI</a></li>-->
<!--                    <li><a href="caractere.html">CARACTERE</a></li>-->
<!--                    <li><a href="iteme.html">ITEME</a></li>-->
<!--                    <li><a href="misiuni.html">MISIUNI</a></li>-->
<!--                    <li><a href="test.html">TEST</a></li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>
        <div class="content">
                <div class="form2">
                    <form method="POST" action="/submitAccountAdmin">
                        <h2>Create Account</h2>
                        <p class="link">Enter Email: </p><br>
                        <input type="email" name="email" placeholder=" Enter Email Here">
                        <p class="link">Enter Birth-date: </p><br>
                        <input type="date" name="birth-date" value="2022-01-31">
                        <p class="link">Enter Password: </p><br>
                        <input type="password" name="password" placeholder=" Enter Password Here">
                        <p class="link">Enter Confirm Password: </p><br>
                        <input type="password" name="password-confirm" placeholder="Confirm Password">
                        <input type="submit" name="Login" class="btn" placeholder="Submit"></input>
                    </form>
                </div>
        </div>
    </div>
</body>
</html>