<!DOCTYPE html>

<head>
    <title>JocVideoBD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
</head>
<body data-new-gr-c-s-check-loaded="8.892.0" data-gr-ext-installed="" wfd-invisible="true">
    <div id="content">
        <div class="navbar">
            <div class="icon">
                <h class="logo"><a href="/home">JocOnline</a></h>
            </div>
            {% if 'email' in session %}
            <ul class="menu">
                <li><a href="/caractereUser">CARACTERE</a></li>
                <li><a href="/iteme">ITEME</a></li>
                <li><a href="/misiuni">MISIUNI</a></li>
            </ul>
            {% endif %}     
        </div>

        <div id="section-space">
            <br>
        </div>

        <div id="section-flash">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    
                    {% for message in messages %}
                    <div class="flash-banner">
                        <h1>{{ message }}</h1>
                    </div>
                    {% endfor %}
                    
                {% endif %}
                {% endwith %}
        </div>

        <div class="section">
            <div id="section1">
                <h1 class="logo2">Top Caractere</h1>
                     <table>
                        <tbody>
                            <tr>
                                <th>Nume</th>
                                <th>Clasa</th>
                                <th>Nivel</th>
                            </tr>
                    {% for caracter in topCaractere %}
                            <tr>
                                <td>{{caracter[0]}}</td>
                                <td>{{caracter[1]}}</td>
                                <td>{{caracter[2]}}</td>
                            </tr>
                     {% endfor %}
                        </tbody>
                    </table>
            </div> 
    
            <div id="section2">
                <h1 class="logo2">Baza de Date pentru un Joc Online</h1>
                <p class="par">Bun venit pe website-ul JocOnline.</p>
                <p class="par">Prin intermediul aceste aplicatii web puteti interoga baza de date JocOnline si se pot insera noi inregistrari</p>
            </div>
    
            <div id="section3">
                {% if 'email' not in session %}
                <div class="form">
                    <form method="POST" action="/submitlogin">
                        <h3>Login Here</h3>
                        <input type="email" name="email" placeholder=" Enter Email Here">
                        <input type="password" name="password" placeholder=" Enter Password Here">
                        <button class="btn"><input2 type="submit" name="Login"><a>Submit</a></input></button>
            
                        <p class="link">Forgot password?</p><br>
                        <a href="/resetpassword">Reset it</a>
                        <p class="link">Don't have an account?</p><br>
                        <a href="/register">Sign up here</a>
                    </form>
                </div>
                {% else %}
                <div class="form">
                    <p class="cont">Logat ca: {{ session['email'] }}</p><br>
                    <h2 class="logo2">Administrare Cont User:</h2>
                    <button class="btn"><input2 type="submit" name="Login"><a href="/changepassword">Schimba parola</a></input></button><br>
                    <button class="btn"><input2 type="submit" name="Login"><a href="/changemail">Schimba Email</a></input></button><br><br><br><br> 
                    <button class="btn"><input2 type="submit" name="Login"><a href="/logout">LOGOUT</a></input></button><br><br> 
                </div>   
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>

































































