<!DOCTYPE html>

<head>
    <title>JocVideoBD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
</head>
<body data-new-gr-c-s-check-loaded="8.892.0" data-gr-ext-installed="" wfd-invisible="true">
    <div id="content">
        <div class="navbar">
            <div class="icon">
                <h class="logo"><a href="/homeAdmin">JocOnline</a></h>
            </div>
            {% if 'email' in session %}
            <ul class="menu">
              <li><a href="/conturiAdmin">CONTURI</a></li>
              <li><a href="/itemeAdmin">ITEME</a></li>
              <li><a href="/misiuniAdmin">MISIUNI</a></li>
              <li><a href="/caractereAllAdmin">CARACTERE</a></li>
            </ul>
            {% endif %}     
        </div>

        <div id="section-space">
            <br>
        </div>

        <div id="section-flash">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    
                    {% for message in messages %}
                    <div class="flash-banner">
                        <h1>{{ message }}</h1>
                    </div>
                    {% endfor %}
                    
                {% endif %}
                {% endwith %}
        </div>

        <div class="section-content">
          <div id="section6">
            <h1 class="logo2">Iteme disponibile</h1>
            <table>
              <tbody>
                <tr>
                    <th>ID</th>
                    <th>Nume</th>
                    <th>Nivel</th>
                    <th>Bani</th>
                </tr>
                {% for item in iteme %}
                <tr>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table> 
            <div class="pagination">
                <a href="/addItemOnChar?offset=0">&laquo;</a>
                <a href="/addItemOnChar?offset={{ previousOffset }}">Pagina Anterioara </a>
                <a href="/addItemOnChar?offset={{ nextOffset }}">Pagina Urmatoare </a>
                <a href="/addItemOnChar?offset={{ lastOffset }}">&raquo;</a>
            </div>
          </div>
    
            <div id="section5">
                <div class="form">
                    <form method="POST" action="/submitAddItemOnChar">
                        <h2>Adauga item pe caracter</h2>
                        <input type="text" name="IDItem" placeholder="Introdu ID-ul aici">
                        <button class="btn"><input2 type="submit" name="Login"><a>Adauga</a></input></button><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>