<!DOCTYPE html>

<head>
    <title>JocVideoBD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
</head>
<body data-new-gr-c-s-check-loaded="8.892.0" data-gr-ext-installed="" wfd-invisible="true">
    <div id="content">
        <div class="navbar">
            <div class="icon">
                <h class="logo"><a href="/homeAdmin">JocOnline</a></h>
            </div>
            {% if 'email' in session %}
            <ul class="menu">
              <li><a href="/conturiAdmin">CONTURI</a></li>
              <li><a href="/itemeAdmin">ITEME</a></li>
              <li><a href="/misiuniAdmin">MISIUNI</a></li>
              <li><a href="/caractereAllAdmin">CARACTERE</a></li>
            </ul>
            {% endif %}     
        </div>

        <div id="section-space">
            <br>
        </div>

        <div id="section-flash">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    
                    {% for message in messages %}
                    <div class="flash-banner">
                        <h1>{{ message }}</h1>
                    </div>
                    {% endfor %}
                    
                {% endif %}
                {% endwith %}
        </div>

        <div class="section-content">
          <div id="section6">
            <h1 class="logo2">Iteme aferente Caracterului - {{ caractereAdmin[0][2] }}</h1>
            <table>
              <tbody>
                <tr>
                  <th>Nume</th>
                  <th>Nivel</th>
                  <th>Valoare</th>
                  <th></th>
                </tr>
                {% for obiect in obiecteCaracterAdmin %}
                <tr>
                  <td>{{obiect[1]}}</td>
                  <td>{{obiect[0]}}</td>
                  <td>{{obiect[2]}}</td>
                  <td><a href="{{url_for('stergeItemContAdmin',id=obiect[1])}}">Sterge</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table> 
          </div>
    
            <div id="section5">
                <div class="form">
                    <!-- <p class="cont">Logat ca: {{ session['email'] }}</p><br> -->
                    <h3>Adaugare Item pe Caracter:</h3>
                    <button class="btn"><input2 type="submit" name="Login"><a href="/addItemOnChar">Adauga</a></input></button><br>
                </div>   
            </div>
        </div>
    </div>
</body>
</html>